#header-container {
    margin-top: 32px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 32px;
    color: #12404F;
}
h5 {
    font-size: 16px;
    color: #12404F;
}
.cardEvents {
    width: 100%
}
.container-fieldName {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4% 0 4%;
    margin-bottom: 16px;
}
.fldName {
    color: #12404F;
}
.fldName.evntTitle {
    flex: 2 0 1em;
}
.event-primaryInformartion {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
}
.event-title {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #12404F;
}
.event-reserver {
    grid-column: 1/2;
    grid-row: 2/3;
}
.event-location {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    color: #12404F;
}
.event-startDate {
    grid-column: 3/4;
    grid-row: 1/2;
    color: #12404F;
}
.event-endDate {
    grid-column: 3/4;
    grid-row: 2/3;
    color: #A15543;
}
.event-startTime {
    grid-column: 4/5;
    grid-row: 1/2;
    color: #12404F;
}
.event-endTime {
    grid-column: 4/5;
    grid-row: 2/3;
    color: #A15543;
}
.event-approvalStatus {
    grid-column: 5/6;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    color: #12404F;
}
